# A .gitignore file specifies intentionally untracked files that Git should ignore.



# Ignore specific files
.sass-cache
npm-debug.log
.DS_store

# Ignore all files ending with this file extension

*.zip
*.psd


# Ignore directories


.sass-cache/*

bower_components/

node_modules/


dist/

production/



