doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Simple landing page
    meta(name="author", content="Mentor Kadriu")
    meta(name='description', content='A simple landing page')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="./dist/css/normalize.css")
    link(rel="stylesheet", href="./dist/css/foundation.css")
    link(rel="stylesheet", href="./dist/css/owl.carousel.css")
    link(rel="stylesheet", href="./dist/css/owl.theme.css")
    link(rel="stylesheet", href="./dist/css/main.css")
    script( src="./dist/js/modernizr.custom.67028.js")
  body.no-js
    // Start Header
    .full-row#header
      section.row
        .small-3.medium-4.large-4.columns
          #menu-icon
            i.fa.fa-bars
        .small-9.medium-4.large-4.columns.text-center
          #logo
            a(href="#")
              img(src="./dist/images/logo.png", alt="Logo")
            a(href="#") tinyone
        .small-12.medium-4.large-4.columns
          ul#social-icons
            li
              a(href="#")
                i.fa.fa-facebook-square
            li
              a(href="#")
                i.fa.fa-twitter-square
            li
              a(href="#")
                i.fa.fa-google-plus-square
            li
              a(href="#")
                i.fa.fa-pinterest-square
      section.row
        .large-12.columns
          .owl-carousel#slider
            .slider-slide.text-center
              h1 Inspire your inspiration
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
              ul#slide-icons
                li
                  i.fa.fa-apple
                li
                  i.fa.fa-android
                li
                  i.fa.fa-windows
            .slider-slide.text-center
              h1 Inspire your inspiration
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
              ul#slide-icons
                li
                  i.fa.fa-apple
                li
                  i.fa.fa-android
                li
                  i.fa.fa-windows
            .slider-slide.text-center
              h1 Inspire your inspiration
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
              ul#slide-icons
                li
                  i.fa.fa-apple
                li
                  i.fa.fa-android
                li
                  i.fa.fa-windows
            .slider-slide.text-center
              h1 Inspire your inspiration
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
              ul#slide-icons
                li
                  i.fa.fa-apple
                li
                  i.fa.fa-android
                li
                  i.fa.fa-windows
    // End Header
    // Start Features 
    .full-row#features
      section.row 
        .small-12.medium-12.large-12.columns
          .features-top.full-block
            h2 Tinyone features
            h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eaque unde reprehenderit neque optio eligendi laborum voluptatum.
        .small-12.medium-3.large-3.columns
          .features-box.full-block
            h4 Fully Responsive
            p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
          .features-box.full-block
            h4 HTML3 & CSS3 
            p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
        .small-12.medium-6.large-6.columns.text-center
          img(src="./dist/images/tablet.png", alt="Application on tablet")
        .small-12.medium-3.large-3.columns
          .features-box.full-block
            h4 Font Awesome Icons 
            p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
          .features-box.full-block
            h4 Free to download
            p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
    // End Features
    // Start Subscribe 
    .full-row#subscribe
      section.row
        .small-12.medium-12.large-10.large-offset-1.columns
          article.full-block
            h1#subscribe-header Keep in touch with us
            h2#subscribe-sub-header Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
        .small-12.medium-12.large-12.columns
          form
            .row
              .small-12.medium-9.large-8.large-offset-1.columns
                input(type="text" placeholder="Enter Your email to update").radius
              .small-12.medium-3.large-3.columns.small-only-text-center
                input(type="submit" value="Submit").button.yellow.radius
    // End Subscribe 
    .full-row#footer
      section.row
        .small-12.medium-6.large-4.columns
          address
            | HALOVIETNAM LTD 
            br
            | 66, Dang Van ngu, Dong Da
            br
            | Hanoi, Vietnam
            br
            a(href="mailto:contact@halovietnam.com") contact@halovietnam.com
            br 
            | +844 35149182
        .small-12.medium-6.large-8.columns
          nav.row#nav-bottom
            .small-6.medium-6.large-3.columns
              ul
                li
                  a(href="#") Examples  
                li
                  a(href="#") Shop
                li
                  a(href="#") License
            .small-6.medium-6.large-3.columns
              ul
                li
                  a(href="#") Contact   
                li
                  a(href="#") About
                li
                  a(href="#") Privacy
                li
                  a(href="#") Terms 
            .small-6.medium-6.large-3.columns
              ul
                li
                  a(href="#") Download  
                li
                  a(href="#") Support 
                li
                  a(href="#") Documents
            .small-6.medium-6.large-3.columns
              ul
                li
                  a(href="#") Media  
                li
                  a(href="#") Blog
                li
                  a(href="#") Forums
    script(src="./dist/js/jquery.min.js")
    script(src="./dist/js/owl.carousel.min.js")
    script(src="./dist/js/main.js")